body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkred;
}

select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

.result-card {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #222;
    text-align: center;
}